use flake .
export ANSIBLE_ROLES_PATH="$PWD/ansible/roles.galaxy:$PWD/ansible/roles"
export CONTAINERS_CONF="$PWD/containers.conf"
export KUBECONFIG="$PWD/.kube/config"
export TALOSCONFIG="$PWD/.talos/config"
