{% set ip = ansible_all_ipv4_addresses | ansible.utils.ipaddr(pxe_subnet) | first -%}
{% set vmlinuz = "http://" + ip + ":8080/vmlinuz" -%}
{% set initrd = "http://" + ip + ":8080/initrd" -%}
{% set rootfs = "http://" + ip + ":8080/rootfs" -%}
{% set config = "http://" + ip + ":8080/config.${net3/mac}.yaml" -%}

{% if ("harvester" == pxe_os) -%}
  {% set kernel_params = "ip=dhcp net.ifnames=1 rd.cos.disable rd.noverifyssl console=tty1 root=live:{{ rootfs }} harvester.install.automatic=true harvester.install.config_url={{ config }}" -%}
{% elif ("talos" == pxe_os) -%}
  {% set kernel_params = "talos.config=" + config + " talos.platform=metal talos.network.interface.ignore=enp88s0 talos.network.interface.ignore=enp89s0 talos.network.interface.ignore=enp3s0f1np1 slab_nomerge pti=on" -%}
{% endif -%}

#!ipxe
ifconf -c dhcp net3
kernel {{ vmlinuz }} {{ kernel_params }}
initrd {{ initrd }}
boot
