{% set ip = ansible_all_ipv4_addresses | ansible.utils.ipaddr(pxe_harvester_subnet) | first -%}
{% set vmlinuz = "http://" + ip + ":8080/harvester-vmlinuz" -%}
{% set initrd = "http://" + ip + ":8080/harvester-initrd" -%}
{% set rootfs = "http://" + ip + ":8080/harvester-rootfs" -%}
{% set config = "http://" + ip + ":8080/harvester-config.${net3/ip}.yaml" -%}

#!ipxe
ifconf -c dhcp net3
kernel {{ vmlinuz }} ip=dhcp net.ifnames=1 rd.cos.disable rd.noverifyssl console=tty1 root=live:{{ rootfs }} harvester.install.automatic=true harvester.install.config_url={{ config }}
initrd {{ initrd }}
boot
