scheme_version: 1

{% if pxe_config["harvester"].mode == "join" %}
server_url: {{ pxe_config["harvester"].vip }}
{% endif %}

token: {{ pxe_config["harvester"].token }}
os:
  hostname: {{ inventory_hostname }}
  ssh_authorized_keys:
    - "{{ pxe_config["harvester"].ssh_authorized_key }}"
  ntp_servers:
    - 0.suse.pool.ntp.org
    - 1.suse.pool.ntp.org
install:
  mode: {{ pxe_config["harvester"].mode }}
  skipchecks: true
  management_interface:
    method: dhcp
    interfaces:
      - hwAddr: "{{ mac_address }}"
  device: {{ pxe_config["harvester"].osdisk }}
  data_disk: {{ pxe_config["harvester"].datadisk }}
  iso_url: "http://{{ ansible_all_ipv4_addresses | ansible.utils.ipaddr(pxe_subnet) | first }}:8080/harvester.iso"
  vip: {{ pxe_config["harvester"].vip }}
  vip_mode: dhcp
  vip_hw_addr: {{ pxe_config["harvester"].vip_mac }}
  addons:
    rancher_monitoring:
      enabled: true
    rancher_logging:
      enabled: true
