machine:
  install:
    #
    # customization:
    #   systemExtensions:
    #     officialExtensions:
    #       - siderolabs/i915
    #       - siderolabs/iscsi-tools
    #       - siderolabs/mei
    #
    image:  factory.talos.dev/installer/e8ab92ccc0f20246eac114b64d5bd7fc38c64c3504cfb40daf9c42d15eb681c5:v1.9.2
    extraKernelArgs:
      - talos.platform=metal
  network:
    hostname: {{ inventory_hostname }}
    interfaces:
      - interface: enp88s0
        ignore: true
      - interface: enp89s0
        ignore: true
      - interface: enp3s0f0np0
        dhcp: true
        routes:
          - network: 0.0.0.0/0
            gateway: 10.10.20.1
      - interface: enp3s0f1np1
        ignore: true
  disks:
    - device: /dev/nvme0n1
      partitions:
        - mountpoint: /var/mnt/data
cluster:
  allowSchedulingOnControlPlanes: true
  network:
    cni:
      name: none
  proxy:
    disabled: true
  extraManifests:
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/experimental/gateway.networking.k8s.io_gateways.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/standard/gateway.networking.k8s.io_httproutes.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml"
