machine:
  install:
    #
    # customization:
    #   systemExtensions:
    #     officialExtensions:
    #       - siderolabs/i915
    #       - siderolabs/intel-ucode
    #       - siderolabs/mei
    #
    image: factory.talos.dev/installer/039535a70c3bd1667c355eca78571267704e55c8a24785033d183b8f26e39d82:v1.9.2
    extraKernelArgs:
      - talos.platform=metal
  network:
    hostname: {{ inventory_hostname }}
    interfaces:
      - interface: enp88s0
        ignore: true
      - interface: enp89s0
        ignore: true
      - interface: enp3s0f0np0
        dhcp: true
        routes:
          - network: 0.0.0.0/0
            gateway: 10.10.20.1
      - interface: enp3s0f1np1
        ignore: true
cluster:
  allowSchedulingOnControlPlanes: true
  network:
    cni:
      name: none
  proxy:
    disabled: true
  extraManifests:
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/standard/gateway.networking.k8s.io_gatewayclasses.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/experimental/gateway.networking.k8s.io_gateways.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/standard/gateway.networking.k8s.io_httproutes.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/standard/gateway.networking.k8s.io_referencegrants.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/standard/gateway.networking.k8s.io_grpcroutes.yaml"
    - "https://raw.githubusercontent.com/kubernetes-sigs/gateway-api/v1.1.0/config/crd/experimental/gateway.networking.k8s.io_tlsroutes.yaml"
