#cloud-config

ssh_pwauth: yes
password: 'changeme'
chpasswd:
  expire: false
ssh_authorized_keys:
  - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDMDfhdzAgFAcZhgG5Kx6byb1ILYidsx/CeCUmPAUOkRaiNJGcAqxCDqqjKWURVjMpy0efERSRbv6Lxq42ewacqHSFmG3wnKGdk/1me98AbRFbjzo40d6mURzMbTJ7hPkK0MPn/+phsWEvj0gG8jfAsZhqWn1Dc4UzGjMcTTqkPtb6GwLeYbfK1FVeo5qZLlSNHIToCoT/73aSjIkwO8RAPgzdb7CliNusE2UtLzGZmmAHFr6oe5jmETd9A2zOYtXtBqQ5s63oGA1UqAw7+UwPEX0JcosBJRdqyz+sFFusKIeuthPd+H2piy988ZVhScE1ZhsBoWWLFPWk7sLFDC5bfzdkJ79Q7+kR+ZURajCjFcVR2SDVJX3Apk0/aU+CknXnQqIQfEmQy5+HWQGxD1MAQ+MjXGW+gwv25Nv7w27Srsx9fipsflGzs57fW7g2Cbn0UDgdsM0ILxOtmY5ELXKKDGiXBQ7VGUJ/JT19jSaIZYAE/2/VWADuCH9rjO6F0HM0= scarey@teseuka"
