<pool type='{{ item.type }}'>
  <name>{{ item.name }}</name>

  {% if item.type == 'netfs' %}
    <source>
      <host name="{{ item.nfs_host }}"/>
      <dir path="{{ item.nfs_path }}"/>
      <format type='nfs'/>
    </source>
  {% endif %}

  <target>
    <path>{{ item.path }}</path>
  </target>
</pool>
